html {
    background-color: #3F3F3F;
    overflow: hidden;
}

body {
    font-family: 'Saira', sans-serif;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #AFAFAF;
}

.nav-spacer {
    width: 200px;
}

.github-links {
    display: block;
    padding: 20px 50px 0px 0px;
}

ul.github-links li {
    display: block;
    font-size: 16pt;
}

ul.github-links li:first-child {
    margin-bottom: 10px;
}


ul.github-links li .icon-label {
    width: 140px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
}

ul.github-links li i, ul.github-links li svg {
    font-size: 20pt;
}

.site-title {
    font-size: 32pt;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 15px;
    margin: 30px 0px 0px 0px;
}

.site-title .fa-skull-crossbones {
    font-size: 26pt;
    margin: 0px 5px 3px 0px;
}

hr.underline {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.interface {
    position: relative;
}

#output {
    color: #AFAFAF;
    display: flex;
    flex-direction: column;
    font-size: 26pt;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: visible;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
}
#output::-webkit-scrollbar { width: 0 !important }

#output .space {
    flex-grow: 1;
}

#output .line:nth-last-child(-n+4) {
    color: #FFFFFF;
}